# Zugangsdaten Schulportal Hessen
# Kopiere diese Datei zu ".env" und trage deine echten Daten ein.
# Die .env wird durch .gitignore NICHT eingecheckt.

SPH_USERNAME=vorname.nachname
SPH_PASSWORD=deinPasswort

# Schul-ID aus der Login-URL (?i=XXXX). 6105 = aus deiner URL.
SPH_SCHOOL_ID=6105
